.des
  overflow hidden
  position relative
  line-height 18px;
  /* height must be a multiple of line-height for how many rows you want to show (height = line-height x rows) */
  height 36px
  -ms-hyphens auto
  -webkit-hyphens auto
  hyphens auto
  word-wrap break-word 